#appTitle {
    padding-bottom: 0;
}

#appUndertitle {
    font-size: 12px;
    padding-top: 0;
    color: #777;
}

#content {
    padding: 0;
}

.shut-button {
    padding: 0;
    height: 23vh;
    font-size: 10vh;
    margin: 0;
    margin-bottom: 2vh;
}

.shut-button img {
    width: 22vh;
    height: 22vh;
}

#timerInfoContainer {
    border-bottom-style: solid;
    border-color: gray;
    border-width: 1px;
    margin-bottom: 10px;
}

#sunriseSunsetContainer {
    font-size: 11px;
}

.day-row {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.day-label-one {
    margin-top: 37px;
    font-weight: bold;
}

.day-label {
    margin-top: 17px;
    font-weight: bold;
}

.day-label-highlight {
    background-color: #ddd;
    color: #38c;
}

.small-p-right {
    padding-right: 3px;
}

.small-p-left {
    padding-left: 3px;
}


/* HACK */

div.ui-popup-container.fade.in.ui-popup-active {
    background-color: #eee;
}

.tab-image {
    width: 32px;
    height: 32px;
}

div.table-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 116px);
}